@model Reserva_B.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1  class="text-white">Detalle</h1>

<div>
    <h4  class="text-white">Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadButacas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadButacas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.NombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcion.Descripcion)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion.Sala.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcion.Sala.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion.Sala.TipoSala.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcion.Sala.TipoSala.Nombre)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

    </dl>
</div>

<div>
    <a class="btn btn-link" asp-action="Index">Volver atrás</a>
</div>


